
h2{
	text-align: center;
	font-size: 24px;
        color: #2BB9EC;
}
hr{
	margin-bottom: 30px;
}
div.container{
	width: 300px;
	height: 600px;
	margin:50px auto;
	font-family: 'Droid Serif', serif;
	position:relative;
}
div.main{
	width: 320px;
	float:left;
	padding: 5px 50px 25px;
	background-color: rgba(187, 255, 184, 0.65);
	border: 10px solid #30C0EE;
	box-shadow: 0 0 10px;
	border-radius: 2px;
	font-size: 13px;
}
input[type=number] {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 8px;
	box-shadow: 0 0 5px #00F5FF;
	border: 2px solid #00F5FF;
	color: #4f4f4f;
	font-size: 16px;
}
#addition{
	font-size: 20px;
	margin-top: 15px;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	padding: 8px 2px;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
	font-weight: bold;
	border-radius: 2px;
	margin-left:10px;
	cursor: pointer;
	width: 45%;
}
#addition:hover{
    background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
#addition{
	font-size: 20px;
	margin-top: 15px;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	padding: 8px 2px;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
	font-weight: bold;
	border-radius: 2px;
	margin-left:10px;
	cursor: pointer;
	width: 45%;
}
#addition:hover{
    background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
#subtraction{
	font-size: 20px;
	margin-top: 15px;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	padding: 8px 2px;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
	font-weight: bold;
	border-radius: 2px;
	margin-left:10px;
	cursor: pointer;
	width: 45%;
}
#subtraction:hover{
    background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
#multiplication{
	font-size: 20px;
	margin-top: 15px;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	padding: 8px 2px;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
	font-weight: bold;
	border-radius: 2px;
	margin-left:10px;
	cursor: pointer;
	width: 45%;
}
#multiplication:hover{
    background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
#division{
	font-size: 20px;
	margin-top: 15px;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	padding: 8px 2px;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
	font-weight: bold;
	border-radius: 2px;
	margin-left:10px;
	cursor: pointer;
	width: 45%;
}
#division:hover{
    background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
.fugo{
	float:right;
}

